*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
#product .img-1 img{
    width: 50px;
    display: block;
    border: 1px solid #000;
}
#product .ruppee{
    font-size: 26px;
    font-weight: 500;
}
#product .ruppee-num{
    letter-spacing: 3.2px;
}
#product .ruppee-syb{
    font-size: 12px;
    vertical-align: super;
}
/* #product .top-links{
    position: sticky !important;
    top: 1px;
    width: 100%;
    margin-left: 0;
    padding-bottom: 20px;
    background: #000;
} */
#product .img-1 img:hover{
    border:1px solid #007185;
    cursor: pointer;
    box-shadow: 0px 0px 1px 4px #84dfef72;
}
#product .content-1 a{
    text-decoration: none;
}
#product .content-1 a:hover{
    color: rgb(204, 75, 75);
    text-decoration: underline;
}
#product .content-1 .rate p .fa-star{
    color: #F69931;
}
#product .content-1 .brand p:first-child{
    background: #232F3E;
    padding: 0 10px 1px;
    font-size: 15px;
    /* padding-left: 10px; */
    color: #fff
}
#product>p a,p{
    text-decoration: none;
    font-size: 12px;
    color: rgb(118, 118, 118);
    font-weight: 500;
}
#product>p a:hover{
    text-decoration: underline;
}
#product .content-1>p{
    font-size: 13px;
}
#product .content-1 .brand p:last-child{
    font-size: 13px;
}
#product .content-1 .brand span{
    color: #F69931;
}
#product .content-1 .price {
    font-size: 24px;
    
}
#product .content-1 .price .actl-price{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}
#product .content-1 .price .off-disc{
    color: #CF1843;
}
#product .content-1 .font-emi h6{
    font-size: 14px;
}

@media (max-width:576px) {
    /* #product .top-links{
        position: sticky !important;
        top: 1px;
        margin: 0 !important;
        padding-bottom: 20px;
        background: #ebe2e2;
    } */
    #product .row .left{
        display: flex !important;
        flex-direction: column-reverse !important;
    }
    #product .row .left .img-all{
        margin-top: 20px !important;
       
    }
    #product .row .left .img-all img{
        width: 46px !important;
        border: 1px solid rgba(0, 0, 0, 0.386) !important;
    }
    footer .go-up{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 0 50px 0;
    }

    footer .go-up i{
    font-size: 30px;
    background: #232f3ef0;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    }
    footer .go-up i:hover{
    background: #232f3edb;
    cursor: pointer;
    }
   
    }

@media (min-width:576px){
    footer .go-up{
        display: none;
    }
}
